{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Add Note</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FEFBF3;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LAB 4</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'add note' %}">Add Note</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index1' %}">Table-view</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'note list' %}">Card-view</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Add Note</h1>

    <div class="container">
      <form id="note-form" action="" method="POST">
        {% csrf_token %}
        <div id="form-input">
          <label for="id_To">To:</label>
          <br>
          <input type="text" name="To" maxlength="100" id="id_To">
          <br><br>
          <label for="id_From">From:</label>
          <br>
          <input type="text" name="From" maxlength="100" id="id_From">
          <br><br>
          <label for="id_Title">Title:</label>
          <br>
          <input type="text" name="Title" maxlength="100" id="id_Title">
          <br><br>
          <label for="id_Message">Message:</label>
          <br>
          <textarea name="Message" id="id_Message" cols="30" rows="10" form="note-form"></textarea>
          <br><br>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>

