<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend Form</title>
  </head>
  <body>
    <p>ADD YOUR FRIEND</p>
    <form action="" method="POST">
      {% csrf_token %}
      <label for="name">Nama:</label><br>
      <input type="text" name="name"><br>
      <br>
      <label for="npm">NPM:</label><br>
      <input type="text" name="npm"><br>
      <br>
      <label for="dob">Tanggal Lahir:</label><br>
      <input type="date" name="dob"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
