<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LAB-2 Charles Pramudana</title>
  </head>
  <body>
    <table border="1px solid black">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      
      {% if notes %} 
        {% for note in notes %}
        <tr>
          <td>{{ note.To }}</td>
          <td>{{ note.From }}</td>
          <td>{{ note.Title }}</td>
          <td>{{ note.Message }}</td>

        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>