body{
    background-color:#98DDCA;
    font-family: sans-serif;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.card{
    border-radius: 20px ;
    height: auto;
    width: 120%;
}
.row{
    margin: auto 70px;
}