body{
    background-color:#98DDCA;
    font-family: sans-serif;
    color: black;
}

h1{
    text-align: center; 
    margin: 2rem auto 0.5rem auto;
}

.container{
    width: 100%;
    margin: 1.8rem auto 0 auto;
}

#note-form{
    background-color: #FFD3B4;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    margin: 0 2.5rem 1.2rem 4rem;
}

@media(min-width: 768px){
    .container{
      max-width: 640px
    }
}


#id_Message{
    width: 300px; 
    height: 150px;
}

