body{
    background-color:#98DDCA;
    margin: 0;
    font-family: sans-serif;
    color: black;
}

.container{
    width: 100%;
}

table {
    width: 50%;
    margin: 0 auto 50px auto;
    border: 1px solid black;
}

th {
    background-color: #04AA6D;
    color: white;
    text-align: center;
    border: 1px solid black;
    padding: 15px;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #c4ccc9;
}

td {
    border: 1px solid black;
    padding: 15px;
}